<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madcamp_game">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.VIBRATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:name=".Login.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_madcamp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_madcamp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".Login.LoginActivity"/>
        <activity android:name=".Login.NicknameActivity"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".UI.Select.SelectActivity"/>

        <activity android:name=".UI.Game.ConsoleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UI.Game.ConsolePracticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UI.Game.FightLoadingActivity"/>
        <activity android:name=".UI.Game.StartActivity"/>
        <activity android:name=".UI.Game.PlayerListActivity"/>
        <activity android:name=".UI.Game.PlayerActivity"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".UI.Game.FightRequestActivity"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".UI.Game.PauseActivity"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".UI.Game.PausedActivity"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".UI.Status.StatusActivity"
            android:theme="@android:style/Theme.Dialog"/>

        <service android:name=".ForcedTerminationService"
            android:stopWithTask="false" />

        <activity android:name=".UI.Result.LoseActivity"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".UI.Result.WinActivity"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".UI.Result.DrawActivity"
            android:theme="@android:style/Theme.Dialog"/>

    </application>

</manifest>